body {
  margin: 0;
  background: rgb(95, 95, 204);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Dosis", light, sans-serif;
  margin: 0;
}

.name {
  font-size: 6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.job-title {
  margin-top: 0;
}