* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
  font-size: 1em;
  /* line-height: 1.7; */
  color: var(--letter-white);
  /* background-color: var(--letter-white); */
  background-image: linear-gradient(rgba(250, 235, 215, 1), rgba(250, 235, 215, .8)), url(/public/img/optical.jpg);
  background-position: center;
  background-size: cover;
  caret-color: transparent;
  height: 100%;
  padding: 20px;
  /* border: var(--b2); */
}

main {
  /* width: 90%; */
  display: flex;
  flex-flow: column;
  height: 95vh;
  margin: auto;
  background: var(--bg-blue);
  border-radius: 5px;
  border: 1px solid var(--pink);
}

.header {
  position: relative;
  /* background-image: url(/public/img/optical.jpg); */
  /* mix-blend-mode: soft-light; */
}

.header-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.job-title {
  font-family: "Fugaz One", monospace, sans-serif;
  text-shadow: 2px 5px rgb(239, 30, 201);
  margin-top: 15px;
  font-size: var(--min-title-size);
}

.name {
  font-size: var(--min-name-size);
  text-shadow: 1px 1px rgb(239, 30, 201);
  font-weight: 300;
  margin-bottom: 1em;
}

.slant {
  background-color: khaki;
  flex: 1 1 auto;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
}


@media screen and (min-width: 640px) {
  .name {
    font-size: var(--max-name-size);
  }

  .job-title {
    font-size: var(--mid-title-size);
  }
}

@media screen and (min-width: 768px) {
  .job-title {
    font-size: var(--max-title-size);
  }
}