.card {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  margin: 0.5em;
  border: solid rgb(61, 61, 213) 2px;
  border-radius: 10px;
  position: relative;
  box-shadow: -3px 9px var(--pink);
  background-color: var(--letter-white);
}

.card-text {
  color: var(--bg-blue);
  padding: 1em;
}

.img-layer {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: var(--bg-blue);
  clip-path: circle(70px at center);
  border-radius: 10px;
}


img {
  position: absolute;
  height: 150px;
  width: 150px;
  mix-blend-mode: luminosity;
  border-radius: 10px;
}

@media screen and (min-width: 640px) {
  .projects {
    top: 100px;
  }
}